{% extends "layout.html" %}

{% block body %}
  <h1>Welcome</h1>

  <p>PyPI Notifier watches your projects' requirements.txt files and
  emails you when a required package is updated.</p>

  {% if g.user %}
    Hello {{ g.user.name }}. Your registered email is: {{ g.user.email }}

    <nav>
      <ul>
        <li><a href={{ url_for('repos') }}>Select Repos</a></li>
        <li><a href={{ url_for('logout') }}>Logout</a></li>
        <li><a href={{ url_for('unsubscribe') }}>Unsubscribe</a></li>
      </ul>
    </nav>

  {% else %}
    <ul>
      <li>
        <a href={{ url_for('login') }}
          >Login with your GitHub account (public repos only)</a>
      </li>
      <li>
        <a href={{ url_for('login', private=True) }}
          >Login with your GitHub account (public and private repos)</a>
      </li>
    </ul>
  {% endif %}
{% endblock %}
