{% extends "layout.html" %}

{% block body %}
<div class="jumbotron">
  <h1>Welcome</h1>
  <p class="lead"><span class="text-info">PyPI Notifier</span> watches your projects' <span class="text-info">requirements.txt</span> files and
  emails you when a required package is updated.</p>
  {% if g.user %}
    <p>
      <small>
        Hello, {{ g.user.name }}!<br>
        Your registered email is: {{ g.user.email }}
      </small>
    </p>
    <p>
      <a href={{ url_for('get_repos') }} class="btn btn-default">Select Repos</a>
      <a href={{ url_for('logout') }} class="btn btn-default">Logout</a>
      <a href={{ url_for('unsubscribe') }} class="btn btn-default">Unsubscribe</a>
    </p>
  {% else %}
    <p>
      <a href={{ url_for('login') }} class="btn btn-success btn-large">Login with your GitHub account<br><small>(public repos only)</small></a>
      <a href={{ url_for('login', private=True) }} class="btn btn-success btn-large">Login with your GitHub account<br><small>(public and private repos)<small></a>
    </p>
  {% endif %}
</div>
{% endblock %}
