{% extends "layout.html" %}

{% block body %}
  Select the repositories that you want to be notified when a requirement is
  updated.
  <form method=post>
    <ul style="list-style: none">
      {% for repo in repos %}
        <li>
          <input type="checkbox", {{ "checked" if repo.checked else "" }}
                 name="{{ repo.full_name }}" value="{{ repo.id }}">
          {{ repo.full_name }}
        </li>
      {% endfor %}
    </ul>
    <button type="submit">Next</button>
  </form>
{% endblock %}
