{% extends "layout.html" %}

{% block body %}
  <p class="lead">
    Select the repositories that you want to be notified when a requirement is updated.
  </p>
  <p class="lead">
    You can also specify custom path for requirements.txt file.
  </p>
  <form method="POST">
    <ul class="list-unstyled">
      {% for repo in repos %}
        <li>
          <input type="checkbox", {{ "checked" if repo.checked else "" }}
                 name="repo:{{ repo.id }}" value="{{ repo.full_name }}"
                 id="{{ repo.id }}">
          <label for="{{ repo.id }}">{{ repo.full_name }}</label>
          <input type=text placeholder="/requirements.txt"
                 name="path:{{ repo.id }}" value="{{ repo.requirements_path }}">
        </li>
      {% endfor %}
    </ul>
    <p class="offset">
      <button class="btn btn-primary" type="submit">Next &raquo;</button>
    </p>
  </form>
{% endblock %}
