{% extends "layout.html" %}

{% block body %}
  <p class="lead">
    Select the repositories that you want to be notified when a requirement is
    updated:
  </p>
  <form method="POST">
    <ul class="list-unstyled">
      {% for repo in repos %}
        <li>
          <input type="checkbox", {{ "checked" if repo.checked else "" }}
                 name="{{ repo.full_name }}" value="{{ repo.id }}"
                 id="{{ repo.id }}">
          <label for="{{ repo.id }}">{{ repo.full_name }}</label>
        </li>
      {% endfor %}
    </ul>
    <p class="offset">
      <button class="btn btn-primary" type="submit">Next &raquo;</button>
    </p>
  </form>
{% endblock %}
