Flask==0.9
Flask-Cache==0.12
Flask-SQLAlchemy==0.16
Flask-Script==0.5.3
GitHub-Flask==0.3.0
Jinja2==2.7
MarkupSafe==0.18
SQLAlchemy==0.8.1
Werkzeug==0.8.3
blinker==1.2
ipython==0.13.2
mock==1.0.1
pystmark==0.3.3
raven==3.3.12
requests==1.2.3
verlib==0.1
wsgiref==0.1.2
